@charset "utf-8";

/* 共通部分
---------------------------------- */
html {
    font-size: 100%;
}
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー
----------------------------------- */
header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}
header ul li {
    flex-basis: 25%;
    color: #000;
}
h1 {
    text-align: center;
}
.logo {
    width: 50%;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 400px;
}
.cover-home{
    background-image: url(../images/menu_01.jpg);
    background-color:rgba(255,255,255,0.7);
    background-blend-mode:lighten;
}

h3{
    text-align: center;
}
/* フッター
---------------------------------- */
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th {
    border-bottom: 1px solid #c9c2bc;
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
footer p {
    text-align: center;
}
