@charset "utf-8";

/* 共通部分
---------------------------------- */
html {
    font-size: 100%;
}
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー
----------------------------------- */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 400px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1rem;
    list-style: none;
}
.main-nav a {
    color: #000;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.cover-home{
    background-image: url(../images/menu_01.jpg);
}