@charset "utf-8";

/* 共通部分
---------------------------------- */
html {
    font-size: 100%;
}
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー
----------------------------------- */
header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.main-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}
.main-nav li {
    text-emphasis: none;
    flex-basis: 25%;
}
.main-nav a {
    color: #000;
}
.main-nav a:hover {
    color: #e60012;
}
h1 {
    text-align: center;
}
.logo {
    width: 50%;
}

/* ヘッダー画像
------------------------------*/
.hero {
    height: 60vh;
    background-image: url(../images/menu_01.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.35);
}
.hero-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-logo {
    width: 50%;
    margin-bottom: 4px;
}
h1 {
    text-align: center;
}

/*　メニュー
--------------------------- */

.menu-h1 {
    text-align: center;
  font-size: 32px;
  font-weight: bold;
  background: white;
  padding: 20px;
  margin: 0;
}

.menu-grid {
    display: grid;
    gap: 24px;
    max-width: 1200px;
    margin: 80px auto;
    grid-template-columns: repeat(2, 1fr);
}

.menu-grid .menu-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
}

.menu-card img {
    width: 100%;
    display: block;
    height: 260px;
    object-fit: cover;
}

.menu-body {
    padding: 30px;
    text-align: center;
    display: block;
}

.menu-body h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.menu-tags {
    margin-bottom: 15px;
}

.menu-tags span {
  display: inline-block;
  background: red;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
  margin: 0 5px 5px;
  font-weight: bold;
}

.menu-option {
  margin: 15px 0;
  line-height: 1.7;
}

.menu-note {
  font-size: 14px;
  line-height: 1.7;
}

.menu-card h3 {
    margin: 16px 0 8px;
}

.price {
    font-size: 32px;
    color: #e60012;
    font-weight: bold;
}

.tax {
    font-size: 14px;
    margin-bottom: 8px;
}

.note {
    font-size: 12px;
    color: #666;
    padding: 0 12px 16px;
}

.menu-section {
  max-width: 1200px;
  margin: 80px auto;
  background-color: #f2f2f2;
}

.menu-section-title {
  text-align: center;
  padding: 30px 0px;
  
  font-size: 32px;
  margin-bottom: 50px;
  position: relative;
}

/* カード本体 */
.menu-section .menu-card {
  display: flex;
  background: white;
  margin-bottom: 40px;
}

.menu-image {
  flex: 1;
}

.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.menu-text {
  flex: 1;
  padding: 40px;
  line-height: 1.9;
}

.menu-title-red {
  color: red;
  font-size: 24px;
  margin-bottom: 20px;
}


/* ショップ
---------------------------------- */

.shop-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1100px;
    margin: 40px auto;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.shop-card {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.shop-inner {
    display: flex;
    gap: 30px;
}

.shop-info {
    flex: 1;
}

.shop-name {
    font-size: 24px;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.shop-info p {
    line-height: 1.8;
    margin-bottom: 10px;
}

.shop-image {
    flex: 1;
}

.shop-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.shop-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-map {
    background: #4285f4;
    color: white;
    padding: 12px 20px;
    text-decoration: none;

}

.btn-detail {
    border: 2px solid black;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

.btn-pho {
    background: #e60012;
    color: white;
    padding: 12px 39px;
    text-decoration: none;
    text-align: center;
}

/* アバウト
------------------------------- */
.concept {
  background: #f2f2f2;
  padding: 60px 0;
}

.concept-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
  position: relative;
}

.concept-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: red;
  margin: 15px auto 0;
}

.content-row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 60px;
}

.content-row.reverse {
  flex-direction: row-reverse;
}

.content-image,
.content-text {
  flex: 1;
}

.content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-text {
  background: white;
  padding: 40px;
  line-height: 1.8;
}

.heading-red {
  color: red;
  font-size: 22px;
  margin-bottom: 20px;
}


/* フッター
---------------------------------- */
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th {
    border-bottom: 1px solid #c9c2bc;
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
footer p {
    text-align: center;
}

/* スマホ対応
-------------------------- */


@media (max-width: 768px) {
    .shop-card {
        padding: 20px 15px;
    }

    .shop-name {
        font-size: 20px;
    }
    .shop-inner {
        flex-direction: column-reverse;
    }
    .shop-image img {
        max-height: 250px;
        object-fit: cover;
    }
    .shop-buttons {
        flex-direction: column;
    }
    .btn-map,
    .btn-detail {
        text-align: center;
    }

    .content-row,
  .content-row.reverse {
    flex-direction: column;
  }

  .content-row.reverse {
    flex-direction: column-reverse;
  }

  .content-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .content-text {
    padding: 25px;
  }

  .concept-title {
    font-size: 22px;
  }

  .menu-card {
    flex-direction: column;
  }

  .menu-text {
    padding: 25px 20px;
  }

  .menu-section-title {
    font-size: 24px;
  }
  .menu-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .menu-card img {
    height: 220px;
  }
}