@charset "utf-8";

/* 共通部分
---------------------------------- */
html {
    font-size: 100%;
}
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー
----------------------------------- */
header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.main-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
}
.main-nav li {
    text-emphasis: none;
    flex-basis: 25%;
}
.main-nav a {
    color: #000;
}
.main-nav a:hover {
    color: #e60012;
}
h1 {
    text-align: center;
}
.logo {
    width: 50%;
}

/* ヘッダー画像
------------------------------*/
.hero {
    height: 60vh;
    background-image: url(../images/menu_01.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255,255,255,0.35);
}
.hero-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-logo {
    width: 50%;
    margin-bottom: 4px;
}
h1 {
    text-align: center;
}

/*　メニュー
--------------------------- */

.menu-grid {
    display: grid;
    gap: 24px;
}

.menu-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.menu-card img {
    width: 100%;
    display: block;
}

.menu-card h3 {
    margin: 16px 0 8px;
}

.price {
    font-size: 32px;
    color: #e60012;
    font-weight: bold;
}

.tax {
    font-size: 14px;
    margin-bottom: 8px;
}
.note {
    font-size: 12px;
    color: #666;
    padding: 0 12px 16px;
}

/* ショップ
---------------------------------- */

.shop-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1100px;
    margin: 40px auto;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.shop-card {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.shop-inner {
    display: flex;
    gap: 30px;
}

.shop-info {
    flex: 1;
}

.shop-name {
    font-size: 24px;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.shop-info p {
    line-height: 1.8;
    margin-bottom: 10px;
}

.shop-image {
    flex: 1;
}

.shop-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.shop-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.btn-map {
    background: #4285f4;
    color: white;
    padding: 12px 20px;
    text-decoration: none;

}

.btn-detail {
    border: 2px solid black;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
}

/* フッター
---------------------------------- */
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th {
    border-bottom: 1px solid #c9c2bc;
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
footer p {
    text-align: center;
}

/* スマホ対応
-------------------------- */

@media screen and (min-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .shop-card {
        padding: 20px 15px;
    }

    .shop-name {
        font-size: 20px;
    }
    .shop-inner {
        flex-direction: column-reverse;
    }
    .shop-image img {
        max-height: 250px;
        object-fit: cover;
    }
    .shop-buttons {
        flex-direction: column;
    }
    .btn-map,
    .btn-detail {
        text-align: center;
    }
}