@charset "utf-8";

/* 共通部分
---------------------------------- */
html {
    font-size: 100%;
}
body {
  font-family: "IBM Plex Sans JP", sans-serif;
  line-height: 1.7;
  color: #000;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* レイアウト */
.align-center {
    text-align: center;
}

/* ヘッダー
----------------------------------- */
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}